## To submit this assignment, please solve the following problem. Then, save your notebook with the format [YOUR_NAME_HERE]\_Class5_Homework and submit via NYU Classes.

---

OVERVIEW: Your task in the next set of homework problems are to continue our prep of the Census file for use in a databse. These problems MUST be solved by updating the "clean_census.py" file we created together in class, and submitting the updated file to NYU Classes. This file will need to execute correctly in performing all the actions to receive full credit.

### **Problem 1 (4 points)**

> Create a User Defined Function that removes all other columns from the data set in the nested structure EXCEPT the following columns. The following 29 columns MUST remain in the dataset, and no others:
>> 1. Id2
2. Number-SEX_AND_AGE_Total_population
3. Number-SEX_AND_AGE_Total_population_Under_5_years
4. Number-SEX_AND_AGE_Total_population_5_to_9_years
5. Number-SEX_AND_AGE_Total_population_10_to_14_years
6. Number-SEX_AND_AGE_Total_population_15_to_19_years
7. Number-SEX_AND_AGE_Total_population_20_to_24_years
8. Number-SEX_AND_AGE_Total_population_25_to_29_years
9. Number-SEX_AND_AGE_Total_population_30_to_34_years
10. Number-SEX_AND_AGE_Total_population_35_to_39_years
11. Number-SEX_AND_AGE_Total_population_40_to_44_years
12. Number-SEX_AND_AGE_Total_population_45_to_49_years
13. Number-SEX_AND_AGE_Total_population_50_to_54_years
14. Number-SEX_AND_AGE_Total_population_55_to_59_years
15. Number-SEX_AND_AGE_Total_population_60_to_64_years
16. Number-SEX_AND_AGE_Total_population_65_to_69_years
17. Number-SEX_AND_AGE_Total_population_70_to_74_years
18. Number-SEX_AND_AGE_Total_population_75_to_79_years
19. Number-SEX_AND_AGE_Total_population_80_to_84_years
20. Number-SEX_AND_AGE_Total_population_85_years_and_over
21. Number-SEX_AND_AGE_Male_population
22. Number-SEX_AND_AGE_Female_population
23. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-White
24. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Black_or_African_American
25. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-American_Indian_and_Alaska_Native
26. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Asian
27. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Native_Hawaiian_and_Other_Pacific_Islander
28. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Some_Other_Race
29. Number-HISPANIC_OR_LATINO_Total_population_Hispanic_or_Latino_of_any_race

### **Solution:**

In [1]:
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
# this function removes all of the special characters and spaces from the titles to compare them in lowercase
# then replaces with the suggested format of the titles of the found columns
def clean_col_by_title(nested_data,wanted_col):

    edit_wanted = []  # make empty list for later
   # print(len(wanted_col))
    for a in range(len(wanted_col)):   # cycle through the title list supplied
        edit_word = []     # make empty list 
        #print(wanted_col[a])
        for char in wanted_col[a]:   # cycle through each character in the titles supplied
            
            if char.isalpha():     #  check if the character is a letter
                    edit_word.append(char.lower())    # if the character is a letter, then add it to the list
                    
            if char.isdigit():      # check if the character is a number, then add to the list
                    edit_word.append(char)
                    
        edit_wanted.append("".join(edit_word))  # this creates the list of titles wanted with only lower letters and numbers
    
        
    nested_compare = nested_data
    a = 0   # will be used as the tracker for what index number is being looked at
    num = 0   # fail safe to end code in case it doesnt work correctly - see below
    
    while len(nested_compare[1]) > len(edit_wanted):   # while loop should run until the lengths of both are the same
        edit_word = []

        for char in nested_compare[1][a]:  # same as previous loop cycling through characters looking for letters and numbers

            if char.isalpha():
                    edit_word.append(char.lower())

            if char.isdigit():
                    edit_word.append(char)
                    
        title_compare = "".join(edit_word)  # titles from nested structure in lower letter and number form
        
        if title_compare not in edit_wanted:   # if lower letter and number title not found in wanted titles then delete
            #print(title_compare)
            for i in range(len(nested_compare)-1):
                nested_compare[i].pop(a)
        else:                  # otherwise find index number and take the title format provided in the wanted list
            #print(title_compare)
            index_num = edit_wanted.index(title_compare)
            #print(index_num)
            
            nested_compare[1][a] = wanted_col[index_num]
            a = a+1

        num = num + 1
        if num > 1000:
            break
    nested_compare.pop(0)    # remove the first row of the census data
            
    #print(nested_compare[1])
    return nested_compare

---

### **Problem 2 (1 point)**

> Create a User Defined Function that transforms your nested data structure back into a string so it can be written to a file as a Comma-Separated-Values or Tab-Separate-Values data file.

### **Solution:**

In [ ]:
def make_csv(nested_data):
    join_col = []
    for i in range(len(nested_data)-1):    
        
        join_col.append(",".join(nested_data[i])) # for each row in the nested data set, join all the columns with commas
    
    
    new_csv = "\n".join(join_col)     # for the new list where the columns were joined, now join the rows with \n
                        
    return new_csv
    
    
wanted_col = ["Id2","Number-SEX_AND_AGE_Total_population"
            ,"Number-SEX_AND_AGE_Total_population_Under_5_years"
            ,"Number-SEX_AND_AGE_Total_population_5_to_9_years"
            ,"Number-SEX_AND_AGE_Total_population_10_to_14_years"
            ,"Number-SEX_AND_AGE_Total_population_15_to_19_years"
            ,"Number-SEX_AND_AGE_Total_population_20_to_24_years"
            ,"Number-SEX_AND_AGE_Total_population_25_to_29_years"
            ,"Number-SEX_AND_AGE_Total_population_30_to_34_years"
            ,"Number-SEX_AND_AGE_Total_population_35_to_39_years"
            ,"Number-SEX_AND_AGE_Total_population_40_to_44_years"
            ,"Number-SEX_AND_AGE_Total_population_45_to_49_years"
            ,"Number-SEX_AND_AGE_Total_population_50_to_54_years"
            ,"Number-SEX_AND_AGE_Total_population_55_to_59_years"
            ,"Number-SEX_AND_AGE_Total_population_60_to_64_years"
            ,"Number-SEX_AND_AGE_Total_population_65_to_69_years"
            ,"Number-SEX_AND_AGE_Total_population_70_to_74_years"
            ,"Number-SEX_AND_AGE_Total_population_75_to_79_years"
            ,"Number-SEX_AND_AGE_Total_population_80_to_84_years"
            ,"Number-SEX_AND_AGE_Total_population_85_years_and_over"
            ,"Number-SEX_AND_AGE_Male_population"
            ,"Number-SEX_AND_AGE_Female_population"
            ,"Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-White"
            ,"Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Black_or_African_American"
            ,"Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-American_Indian_and_Alaska_Native"
            ,"Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Asian"
            ,"Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Native_Hawaiian_and_Other_Pacific_Islander"
            ,"Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Some_Other_Race"
            ,"Number-HISPANIC_OR_LATINO_Total_population_Hispanic_or_Latino_of_any_race"]