# Dealing with Data Spring 2020 – Class 6

---

# Connect to our db:

In [4]:
import sqlite3
import pandas as pd

In [7]:
!pwd

/Users/siegmanA/Desktop/NYU-Dealing-With-Data-Spring-2020/Class 6

In [8]:
con = sqlite3.connect('/Users/siegmanA/Desktop/NYU-Dealing-With-Data-Spring-2020/Class 5/class_practice.db') # this is how we are going to create our database, 
                                         # calling it 'citibikeData.db'

# "con" stands for "connection" – this is telling SQLite what database to use

---

# GROUP BY

`count(*)` counts the number of rows in the group <br> 
`count(attr)` counts the number of rows in the group with non-null values for the attribute <br> 
`count(DISTINCT attr)` counts the number of distinct, non-null values for the attributes in the group <br> 
`max(attr)` row with maximum attribute value in the group <br>
`min(attr)` row with minimum value in the group <br>
`sum(attr)` sum values of selected rows in the group <br>
`avg(attr)` estimates the average attribute in the group

---

# Exercise 1: 

> What borough has the lowest average travel time from our set?

In [15]:
# your code here

# Solution

In [52]:
check = pd.read_sql("""SELECT borough, ROUND(AVG(travel_time),0) as average_travel_time
                       FROM TrafficData 
                       GROUP BY borough
                       ORDER BY average_travel_time ASC
                       """
                    , con=con)
check

         borough  average_travel_time
0  Staten island                 54.0
1  Staten Island                120.0
2       Brooklyn                204.0
3         Queens                217.0
4      Manhattan                219.0
5          Bronx                220.0

---

# Exercise 2: 

>  What 5 CitiBike stations (by stationName) have the most docks on average across our set?

In [58]:
# your code here

# Solution

In [59]:
check = pd.read_sql("""SELECT stationName, ROUND(AVG(availableDocks),0) as average_available_docks
                       FROM StationsData
                       GROUP BY stationName
                       ORDER BY average_available_docks DESC
                       LIMIT 5;
                       """, 
                       con=con)
check

                stationName  average_available_docks
0        E 10 St & Avenue A                     78.0
1       FDR Drive & E 35 St                     68.0
2     Pershing Square South                     63.0
3  Division Ave & Hooper St                     61.0
4        W 84 St & Broadway                     61.0

---

In [60]:
# STOPPED AT PAGE 13

---