# Dealing with Data Spring 2020 â€“ Class 6

---

# GROUP BY

```sql
SELECT A1, Aggregation Function [count(*), sum(*), avg(*), min, etc.]
FROM T1, T2, ... Tm
WHERE condition
GROUP BY A1
```

`count(*)` counts the number of rows in the group <br> 
`count(attr)` counts the number of rows in the group with non-null values for the attribute <br> 
`count(DISTINCT attr)` counts the number of distinct, non-null values for the attributes in the group <br> 
`max(attr)` row with maximum attribute value in the group <br>
`min(attr)` row with minimum value in the group <br>
`sum(attr)` sum values of selected rows in the group <br>
`avg(attr)` estimates the average attribute in the group

---

# Exercise 1: 

>

In [4]:
# your code here

# Solution

---

# Exercise 2: 

>

In [6]:
# your code here

# Solution

---

# HAVING

```sql 
SELECT A1, Aggregation Function
FROM T1, T2, ... Tm
WHERE condition
GROUP BY A1
HAVING Aggregation Function Condition
```
<br>

`WHERE` applies to rows _before_ computing the aggregate <br>
`HAVING` applies to the aggregate value only

In [33]:
# WHERE

In [9]:
# HAVING

---

# Exercise 3: 

>

In [11]:
# your code here

# Solution

---

# Conditional Construction: CASE

```sql
CASE
    WHEN condition THEN result
    WHEN condition2 THEN result2
    ELSE result
END
```

---

# Exercise 4: 

>

In [13]:
# your code here

# Solution

---

# Exercise 5: 

>

In [15]:
# your code here

# Solution

---

# SQL JOINS

First and foremost, any join requires a common data field found in both tables that enables the combination. However, those data fields don't need to share a common name, but they must be the same data type!

NB: LEFT and RIGHT are determined by order after the FROM command!

<img src="https://i.stack.imgur.com/VQ5XP.png">

# INNER JOIN

> This is the default SQL JOIN, thus you don't even need to specify "INNER". <br> <br>

1) A new table is created with the columns of both tables you're trying to combine, <br><br>
2) It then looks to match values between the columns you specify in your 'ON' statement, <br><br>
3) SQL will start with the first value of the specified column in the first table, then look through every value in the specified column of the second table for a match, <br><br>
4) If there is a match, SQL will copy the data from both the row of the first table and the row of the second table and put it in the newly created table; It won't add any rows that didn't have a match

<br>

`AKA an INNER JOIN is going to return all rows when the comparisoin fields (in the "ON" statement") are matching in BOTH tables.`

In [18]:
from IPython.display import HTML
HTML('<img src="https://dataschool.com/assets/images/how-to-teach-people-sql/innerJoin/innerJoin_3.gif">')

---

# Exercise 6: 

> Use an INNER JOIN to

In [27]:
# your code here

# Solution

In [ ]:
check = pd.read_sql("""SELECT borough, ROUND(AVG(travel_time),0) as average_travel_time
                       FROM TrafficData 
                       GROUP BY borough
                       """
                    , con=con)
check

---

# LEFT JOIN

> LEFT refers to the first table, or the table you'll be joining to. <br> <br>
> For any rows in the LEFT table that don't have a match in the RIGHT table, it still adds that row to the next table but puts nulls for the missing columns

<br> 

`AKA a LEFT JOIN is going to return all rows from the LEFT table with matching rows from the RIGHT table`

In [19]:
from IPython.display import HTML
HTML('<img src="https://dataschool.com/assets/images/how-to-teach-people-sql/leftJoin/leftJoin_1.gif">')

---

# Exercise 7: 

>

In [29]:
# your code here

# Solution

---

# RIGHT JOIN

> RIGHT refers to the second table, or the table you'll be joining in. <br> <br>
> A RIGHT JOIN can be re-written as a LEFT JOIN, and is thus much more rare in practice.

---

# Exercise 8: 

>

In [28]:
# your code here

# Solution

---

# FULL OUTER JOIN

> FULL OUTER refers to the first table, or the table you'll be joining to (in this case, the Facebook table since it comes before LinkedIn in the query). <br> 
> After completing a LEFT join of the data, it basically perorms a RIGHT join â€“Â only checking ot see if each value is present in the joined table. If it is not, SQL will add this row to the new table and put nulls for the columns from the other table.

In [20]:
from IPython.display import HTML
HTML('<img src="https://dataschool.com/assets/images/how-to-teach-people-sql/fullOuter/fullOuter_1.gif">')

# Exercise 9: 

>

In [30]:
# your code here

# Solution

---

# UNION

In [21]:
# https://dataschool.com/how-to-teach-people-sql/union-animated/

In [22]:
from IPython.display import HTML
HTML('<img src="https://dataschool.com/assets/images/how-to-teach-people-sql/union/union_2.gif">')

---

# Exercise 10: 

>

In [31]:
# your code here

# Solution

---

# CROSS JOIN

In [23]:
# https://dataschool.com/how-to-teach-people-sql/cross-join-animated/

In [24]:
from IPython.display import HTML
HTML('<img src="https://dataschool.com/assets/images/how-to-teach-people-sql/crossJoin/crossJoin_1.gif">')

---

# Exercise 11: 

>

In [32]:
# your code here

# Solution

---

In [25]:
# PRACTICE QUERIES FOR EACH, MAKE THEM GUESS WHICH TO USE AND THEN USE IT

---

# Subqueries

Subqueries are temporary tables created with nested SELECT statements where a table should be that allow for deeper analysis with SQL.

In [26]:
# AS

In [ ]:
# WITH clauses create a Common Table Expression (CTE) and enables sub-query empowered 
# analyses with easier SQL codebase

In [ ]:
# EXAMPLES

---