## To submit this assignment, please solve the following problem. Then, save your notebook with the format [YOUR_NAME_HERE]\_Class6_Homework and submit via NYU Classes.

---

OVERVIEW: Your task in this homework assingment is to continue building out our Class Project's database using the knowledge from class and files provided on NYU Classes.

Problem 1 (4 points):

> Find the top zip codes for filming permits in 2015 and the percentages of children, adults, non-latino individuals and six_figure_income returns for these zip codes. (HINT: you should have 6 columns: zipcode, 4 percentage columns, and a filming permit count column). Submit your SQL code along with its resulting output.   _(This can be a png, jpg, pdf, screen-shot - whatever you would like)_

```SQL 
WITH flat_irs AS (
    SELECT
        year,
        zipcode,
        SUM(CASE WHEN agi_map_id IN (1,2,3,4) THEN return_count ELSE NULL END) AS agi_under100K, 
        SUM(CASE WHEN agi_map_id IN (5,6) THEN return_count ELSE NULL END) AS agi_over100k, 
        SUM(return_count) AS total_returns
    FROM irs_nyc_tax_returns
    GROUP BY
        year,
        zipcode
    ),

flat_films AS (
    SELECT
        STRFTIME('%Y',StartDateTime) AS year,
        zipcode,
        COUNT(DISTINCT EventID) as permit_count
    FROM nyc_film_permits
    GROUP BY 
        year,
        zipcode
  )
  
SELECT 
    cen.zipcode,
    100 * (SUM(cen.Age_under5) + SUM(cen.Age_5to9) + SUM(cen.Age_10to14) + SUM(cen.Age_15to19)) / SUM(Age_all) AS child_pct,
    100 * (SUM(Age_all) - (SUM(cen.Age_under5) + SUM(cen.Age_5to9) + SUM(cen.Age_10to14) + SUM(cen.Age_15to19) )) / SUM(Age_all) AS adult_pct,
    100 * (SUM(cen.Age_all) - SUM(cen.Ethnicity_All_HispancLatino_Descent)) / SUM(cen.Age_all) AS nonlatino_pct,
    100 * SUM(irs.agi_over100k) / SUM(irs.total_returns) AS six_figure_income_pct,
    SUM(nfp.permit_count) as total_permits
FROM nyc_census_data cen
    INNER JOIN flat_irs irs
        ON cen.zipcode = irs.zipcode
    INNER JOIN flat_films nfp
        ON (
            cen.zipcode = nfp.zipcode
            AND irs.year = nfp.year
        )
WHERE
    irs.year = 2015
GROUP BY
    cen.zipcode
ORDER BY
    total_permits DESC
LIMIT 10;
```

---

Problem 2 (3 points):

> What event type is most commonly seen in predominately Asian neighborhoods?

```SQL 
SELECT 
    cen.ZipCode,
    nfp.EventType
FROM nyc_census_data cen 
    JOIN (
        SELECT 
            nfp.zipcode,
            nfp.EventType
        FROM nyc_film_permits nfp
   ) nfp ON cen.ZipCode = nfp.zipcode
WHERE cen.Ethnicity_Asian > (cen.Ethnicity_White + cen.Ethnicity_AfricanAmerican + cen.Ethnicity_All_HispancLatino_Descent + cen.Ethnicity_NativeAmerican + cen.Ethnicity_Other + cen.Ethnicity_PacificIslander)
GROUP BY nfp.EventType;
```

---

Problem 3 (3 points):

> Find the annual count of distinct filming permits for shooting versus setup/non-shooting event types. Display each permit type grouping as its own column in the result (HINT: you should have 3 columns: year, shooting permit counts, and setup/non-shooting permit counts). Submit your SQL code along with its resulting output. (*This can be a png, jpg, pdf, screen-shot - whatever you would like*)

```SQL 
SELECT 
    STRFTIME('%Y',StartDateTime) as permit_year, 
    COUNT(DISTINCT CASE WHEN EventType = "Shooting Permit" THEN EventID ELSE NULL END) AS "Shooting Permit Count",
    COUNT(DISTINCT CASE WHEN EventType != "Shooting Permit" THEN EventID ELSE NULL END) AS "Non-Shooting Permit Count"
FROM nyc_film_permits
GROUP BY 
    permit_year
```